@font-face {
  font-display: swap;
}

/* roboto-100 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 100;
  src: local('Roboto Thin'), local('Roboto-Thin'),
       url('../fonts/roboto-v20-latin_cyrillic-100.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-100.woff') format('woff') /* Modern Browsers */
}

/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff') /* Modern Browsers */
}

/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff') /* Modern Browsers */
}

/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff') /* Modern Browsers */
}

/* roboto-900 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'),
       url('../fonts/roboto-v20-latin_cyrillic-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-900.woff') format('woff') /* Modern Browsers */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', 'Arial', sans-serif; 
}

body {
  min-width: 320px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -moz-box-sizing: inherit;
  -webkit-box-sizing: inherit;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

.fixed-container {
  width: 1170px;
  margin: 0 auto;
}

.flex-container {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;

  flex-wrap: nowrap;
  justify-content: space-between;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

button,
button:active {
  user-select: none;
  outline: none;
}

a, 
h3,
.intro__phone,
.intro__burger-menu,
.close,
.popup-close,
.footer__link {
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

/* HEADER */

.intro__burger-menu {
  display: none;
  width: 47px;
  height: 35px;
  margin-right: auto;
  background: transparent;
  background-image: url('../img/burger.svg');
  background-repeat: no-repeat;
  border: none;
}

.intro__burger-menu:hover,
.popup-close {
  transform: scale(0.8);
  -moz-transform: scale(0.8);
  -ms-transform: scale(0.8);
  -webkit-transform: scale(0.8);
  -o-transform: scale(0.8);
}

.intro {
  min-height: 769px;
  background: #fbfbfb;
}

.intro__nav {
  display: inline-block;
  padding-top: 45px;
  word-spacing: 35px;
}

.intro__item {
  display: inline;
}

.intro__link {
  font-size: 16px;
  font-weight: 400;
  color: #000;
}

.intro__tel {
  padding-right: 28px;
  font-size: 25px;
  font-weight: 700;
  color: #1f1f24;
  text-decoration: none;
}

nav a:hover, 
.intro__tel:hover, 
.projects__link:hover,
.footer__contact-link:hover {
  color: #fc557c;
}  

nav a:hover {
  border-bottom: 1px solid #fc557c;
}

/*.transparent-button {
  display: inline-block;
  border: 1px solid #f82370;
  font-size: 16px;
  font-weight: 400;
  color: #f53f4f;   
  background-color: transparent;
  cursor: pointer;
}*/

.transparent-button {
  position: relative;
  display: inline-block;
  padding: 12px 40px;
  font-size: 16px;
  font-weight: 400;
  color: #f53f4f;   
  background-color: transparent;
  /*outline: none;*/
  cursor: pointer;
  border: 1px solid #f82370;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transparent-button::after {
  content: "";
  border: 1px solid #f82370;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px #dc143c;
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.transparent-button:hover {
  -webkit-transform: scale(.9, .9);
  transform: scale(.9, .9);
}

.transparent-button:hover::after {
  opacity: 1;
}

.intro__phone {
  display: none;
}

.intro__tel-button {
  margin-top: 28px;
}

.intro__tel-button.flex-container {
  align-items: center;
}

.popup-container,
.modal-box {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(75%, 75%, 75%, .5); 
  z-index: 50;
 
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.popup-form {
  position: relative;
  display: flex;
  z-index: 17;
  justify-content: center;
  width: 570px;
  background: #fff;
  border: 3px solid #e12200 ;
  border-radius: 1px;
}

.close {
  width: 47px;
  height: 47px;
}

.close,
.popup-close {
  background: transparent;
  background: url('../img/close.svg') no-repeat;
  background-size: cover;
  background-position: center;
  border: none;
  cursor: pointer;
  /*outline: 0;*/
}

.popup-close {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  width: 25px;
  height: 25px;
}

fieldset {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  margin-top: 35px;
  border: none;
}

legend {
  margin-bottom: 35px ;
  font-size: 35px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
}

input::placeholder {
  padding-left: 5px;
  font-size: 30px;
}

input {
  width: 440px;
  height: 40px;
  font-size: 30px;
}

input:focus {
  outline-color: #e12200;
}

.popup-list {
  margin: 0 auto;
}

.popup-item {
  margin-bottom: 12px;
}

.popup-center-btn{
  margin: 35px auto;
}

.popup-tag-box {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.tag-form,
.tag-hash {
  position: absolute;
  display: inline-block;
  font-size: 30px;
  font-weight: 700;
  background: linear-gradient(45deg, #f44943 33%, #fa0c8b 66%, #ff8f5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6055c4;
}

.tag-form {
  bottom: 83px;
  right: 10px;
  transform: rotate(-15deg);
}

.tag-hash {
  top: 34px;
  left: 34px;
  transform: rotate(20deg);
}

.intro__business-card {
  position: relative;
  margin-top: 60px;
  background-image: url('../img/back.svg');
  background-repeat: no-repeat;
  background-position: 113% 0;
  overflow: hidden;
}

.intro__tag-container {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* TAGS */

.intro__tag {
  position: absolute;
  z-index: 1;
  display: inline-block;
  font-weight: 700;
  background: linear-gradient(45deg, #f44943 33%, #fa0c8b 66%, #ff8f5a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #6055c4;
  animation: 1 5s alternate;
  /*transition: 5s ease-in-out;*/
}

.intro__tag-hash {
  top: 35.61%;
  left: 12.81%;
  font-size: 57px;
  transform: rotate(10deg);
  -moz-transform: rotate(10deg); 
  -ms-transform: rotate(10deg); 
  -webkit-transform: rotate(10deg); 
  -o-transform: rotate(10deg);
  animation-name: move-1;
}

.intro__tag-div-up {
  top: 5.45%;
  left: 41.09%;
  font-size: 30px;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg); 
  -ms-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg); 
  -o-transform: rotate(-20deg);
  animation-name: move-2;
}

.intro__tag-braces {
  top: 0.5%;
  left: 6.5%;
  font-size: 49px;
  transform: rotate(20deg);
  -moz-transform: rotate(20deg); 
  -ms-transform: rotate(20deg); 
  -webkit-transform: rotate(20deg); 
  -o-transform: rotate(20deg);
  animation-name: move-3;
}

.intro__tag-slash {
  bottom: 10.07%;
  left: 19.74%;
  font-size: 41px;
  transform: rotate(-20deg);
  -moz-transform: rotate(-20deg); 
  -ms-transform: rotate(-20deg); 
  -webkit-transform: rotate(-20deg); 
  -o-transform: rotate(-20deg);
  animation-name: move-4;
}

.intro__tag-div {
  top: 65.34%;
  left: 49.64%;
  font-size: 38px;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg); /* Для Firefox */
  -ms-transform: rotate(15deg); /* Для IE */
  -webkit-transform: rotate(15deg); /* Для Safari, Chrome, iOS */
  -o-transform: rotate(15deg); /* Для Opera */
  animation-name: move-5;
}

.intro__tag-slash-1 {
  display: none;
}

/* ANIMATION */

@keyframes move-1 {
  0% {
    transform: translate(80%, 70%);
    /*top: 80%; 
    left: 70%;*/ 
    font-size: 0;
    transform: rotate(-360deg);
  }
}

@keyframes move-2 {
  0% {
    transform: translate(85%, 75%);
    /*top: 85%; 
    left: 75%; */
    font-size: 0;
    transform: rotate(-360deg);
  }
}

@keyframes move-3 {
  0% {
    transform: translate(0, 0);
    /*top: 0; 
    left: 0;*/ 
    font-size: 0;
    transform: rotate(-360deg);
  }
}

@keyframes move-4 {
  0% {
    transform: translate(45%, 35%);
   /* top: 45%; 
    left: 35%; */
    font-size: 0;
    transform: rotate(-360deg);
  }
}

@keyframes move-5 {
  0% {
    transform: translate(85%, 95%);
    /*top: 85%; 
    left: 95%; */
    font-size: 0;
    transform: rotate(-360deg);
  }
}

@keyframes move-6 {
  0% {
    transform: translate(45%, 35%);
    /*top: 45%; 
    left: 35%; */
    font-size: 0;
    transform: rotate(-360deg);
    -ms-transform: rotate(-360deg);
  }
}

@keyframes move-7 {
  0% {
    transform: translate(55%, 15%);
    /*top: 55%; 
    left: 15%;*/ 
    font-size: 0;
    transform: rotate(-360deg);
  }
}

.intro__personal-data {
  z-index: 2;
}

.intro__title {
  margin-top: 21%;
  margin-bottom: 22px;
  font-size: 80px;
  font-weight: 900;
  color: #1f1f24;
}

/*.main-button {
  width: 271px;
  height: 61px;
  margin-top: 45px;
  border: none;
  font-size: 18px;
  color: #fff;
  background: #ff4e2e;
  cursor: pointer;
}

.main-button:hover {
  background: #f82904;
}*/

.main-button {
  position: relative;
  display: inline-block;
  width: 271px;
  height: 61px;
  margin-top: 45px;
  border: none;
  font-size: 18px;
  color: #fff;
  background: #ff4e2e;
  /*outline: none;*/
  cursor: pointer;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-button::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.main-button:hover {
  -webkit-transform: scale(.9, .9);
  transform: scale(.9, .9);
}

.main-button:hover::after {
  opacity: 1;
}

.intro__subtitle {
  font-size: 25px;
  font-weight: 400;
  color: #8993ad;
}

.intro__img {
  height: 638px;
  margin-right: -7%;
  filter: drop-shadow(5px 0 5px rgba(0, 0, 0, .3));
}

/* MAIN */

h2 {
  padding-top: 90px;
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  color: #262626;
  text-align: center;
}

.projects__article {
  display: inline-block;
}

h3 {
  font-size: 20px;
  line-height: 30px;
  color: #8993ad;
  font-weight: 400;
  text-align: center;
}

.services__article-1 {
  width: 257px;
}
.services__article-2 {
  width: 271px;
}
.services__article-3 {
  width: 201px;
}
.services__article-4 {
  width: 247px;
}

.services__icon {
  display: block;
  margin: 90px auto 24px;
  height: 74px;
}

.services__icon-1,
.services__icon-2 {
  width: 80px;
}

.services__icon-1 {
  background: url('../img/icon1.png') no-repeat;
}

.services__icon-2 {
  background: url('../img/icon2.png') no-repeat;
}

.services__icon-3, 
.services__icon-4 {
  width: 74px;
}

.services__icon-3 {
  background: url('../img/icon3.png') no-repeat;
}

.services__icon-4 {
  background: url('../img/icon4.png') no-repeat;
}

.center-button {
  display: block;
  margin: 85px auto 101px;
}

.projects .center-button {
  margin-top: 155px;
  margin-bottom: 0;
}

.projects {
  position: relative;
  padding-bottom: 100px;
  background-color: #fbfbfb;
}

.projects__header {
  margin-bottom: 102px;
}

.projects__title {
  margin-top: 30px;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  display: none;
}

.projects__link {
  color: #8993ad;
}

.work-1 {
  object-fit: cover;
  -o-object-fit: cover;
  object-position: -90px;
}

.swiper-container {
  width: 100%;
}

.swiper-pagination-bullet-active {
  background: #ff4e2e;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
}

.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0 7.5px;
}

/*BANNER*/

.banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 365px; 
  color: #fff;
  background: linear-gradient(to top right, #ff8f5a, #ff2f96);
}

.banner__tag {
  position: absolute;
  font-weight: 700;
  color: #fff;
}

.banner__tag-hash {
  left: 246px; 
  bottom: 62px;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg); 
  -ms-transform: rotate(15deg); 
  -webkit-transform: rotate(15deg); 
  -o-transform: rotate(15deg);
  font-size: 57px;
}

.banner__tag-braces {
  right: 110px;
  bottom: 51px; 
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg); 
  -ms-transform: rotate(-15deg); 
  -webkit-transform: rotate(-15deg); 
  -o-transform: rotate(-15deg);
  font-size: 50px;
}

.banner__tag-braces-1 {
  top: 66px;
  left: 128px;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg); 
  -ms-transform: rotate(15deg); 
  -webkit-transform: rotate(15deg); 
  -o-transform: rotate(15deg);
  font-size: 49px;
}

.banner__tag-div {
  right: 413px;
  bottom: 20px;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg); 
  -ms-transform: rotate(15deg); 
  -webkit-transform: rotate(15deg); 
  -o-transform: rotate(15deg);
  font-size: 38px;
}

.banner__tag-slash {
  top: 82px;
  right: 209px;
  transform: rotate(-15deg);
  -moz-transform: rotate(-15deg); 
  -ms-transform: rotate(-15deg); 
  -webkit-transform: rotate(-15deg); 
  -o-transform: rotate(-15deg);
  font-size: 46px;
}

.banner__offer {
  width: 50%;
}

.banner__text,
.banner__note {
  display: inline-block;
}

.banner__text {
  margin-right: 0;
  margin-bottom: 40px;
  font-size: 45px;
  font-weight: 700;
  color: #fff;
}

.banner__note {
  width: 89.89%;
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
  color: #fff;
}

.banner__marker {
  text-indent: -1em;
  padding-left: 15px; 
}

.banner__marker::before {
  content: '*';
  padding-right: 1px;
}


/* FOOTER */

.footer__main {
  margin-top: 86px;
  margin-bottom: 40px;
}

.footer__menu {
  margin-right: 26%;
}

.footer__menu-item {
  margin-bottom: 16px;
}

.footer__link {
  font-size: 18px;
  font-weight: 400;
  color: #8993ad;
}

.footer__contacts {
  display: inline-block;
  margin-right: -5%;
}

.footer__contact-item {
  margin-bottom: 39px;
}

.footer__icon {
  margin-right: 10px;
}

.footer__contact-link {
  font-size: 25px;
  font-weight: normal;
  font-style: normal;
  color: #000;
}

.fas {
  font-size: 18px;
  color: #fa0891;
}

.fa-phone {
  transform: scale(-1, 1);
  -moz-transform:  scale(-1, 1); 
  -ms-transform:  scale(-1, 1); 
  -webkit-transform:  scale(-1, 1); 
  -o-transform:  scale(-1, 1);
}

.footer__button-social {
  margin-right: 1.5%;
}

.footer__button-social .transparent-button {
  margin-bottom: 30px;
  padding: 14px 60px;
}

.footer__item {
  display: inline;
}

.footer__network-link {
  display: inline-block;
  margin-right: 27px;
  background-image: url('../img/sprites.png');
  background-repeat: no-repeat;
}

.footer__network-link:hover {
  filter: drop-shadow(0 0 3px rgba(0, 0, 0, .3));
  transform: scale(1.2);
  -moz-transform:  scale(1.2); 
  -ms-transform:  scale(1.2); 
  -webkit-transform:  scale(1.2); 
  -o-transform:  scale(1.2);
}

.footer__vk {
  background-position: -48px -4.991668701171875px;
  width: 35px;
  height: 21px;
}

.footer__fb {
  background-position: -28px 0;
  width: 16px;
  height: 28px;
}

.footer__twitter {
  background-position: -85px -3px;
  width: 29px;
  height: 25px;
}

.footer__instagram {
  background-position: 0 -2px;
  width: 26px;
  height: 25px;
}

.footer__copyright {
  width: 100%;
  padding-top: 33px;
  padding-bottom: 33px;
  font-size: 16px;
  font-weight: 400;
  color: #fff;
  text-align: center;
  background-color: #31293C;
}

@media (min-width: 1921px) {

  .intro__business-card {
    width: 1970px;
    margin-top: 60px;
    margin-right: auto;
    margin-left: auto;
    background-position: 100% 0;
  }

  .banner__offer {
    max-width: 1170px;
  }
}

@media (min-width: 2300px) {

  .banner__tag {
    display: none;
  }
}

@media (min-width: 1640px) and (max-width: 1919px) {
  
  .offer {
    width: 65%;
  }

  .intro__tag-hash {
    left: 10%;
  }

  .intro__tag-div {
    left: 44%;
  }

  .banner__tag-hash {
    left: 236px;
  }
}

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */  

  .intro__tag,
  .tag-hash,
  .tag-form {
    background: none;
    color: #dc143c;
  }
}

/* MOBILE MENU */

@media (min-width: 320px) and (max-width: 1638px) {

  .intro__nav {
    position: fixed;
    top: 82px;
    z-index: 10;
    display: none;
    padding-top: 0;
    opacity: 0;
  }

  .intro__list {
    width: 265px;
    min-height: 120px;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
    background-color: #f6f9f9;
    border-radius: 2px;
    border: 3px solid #e12200;
  }

  .intro__item {
    display: block;
    border-bottom: 1px solid #e12200;
  }

  .intro__item:last-child {
    border-bottom: none;
  }

  .intro__link {
    color: #000;
    font-size: 20px;
    line-height: 40px;
  }

  .intro__link:hover {
    border-bottom: none;
  }

  .active {
    display: block;
  }
}

/* TABLET */

@media (min-width: 768px) and (max-width: 1639px) {

  .fixed-container {
    width: 92.29%;
  }

  .intro .flex-container {
    align-items: center;
  }

  .services__flex-container {
    flex-wrap: wrap;
    justify-content: space-between;
    width: 649px;
    min-height: 400px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 80px;
  }
 
  .intro__burger-menu {
    display: block;
    width: 46px;
    height: 33px;
    background-size: contain;
   /* outline: none;*/
  }
  
  .intro__top-panel {
    padding-top: 29px;
  }

  .intro__tel-button {
    margin-top: 0;
  }

  .intro__tel {
    padding-right: 20px;
  }

  .intro__title  {
    margin-top: -50px;
    margin-bottom: 22px;
    font-size: 54px;
  }

  .main-button {
    width: 321px;
    height: 69px;
  }

  .intro__main-btn {
    margin-top: 50px;
  }
  
  .intro__img {
   margin-right: 0;
  }

  .intro__business-card {
    background: url("../img/back-tablet.svg") no-repeat;
    background-position: 460px 95px;
  }

  .intro__tag-hash {
    top: auto;
    left: 58px;
    bottom: 78px;
  }

  .intro__tag-div-up {
    top: 10px;
    left: auto;
    right: 56px;
    font-size: 30px;
  }

  .intro__tag-braces {
    top: 20px;
    left: 74px;
    transform: rotate(25deg);
    -moz-transform: rotate(25deg); 
    -ms-transform: rotate(25deg); 
    -webkit-transform: rotate(25deg); 
    -o-transform: rotate(25deg);
  }

  .intro__tag-slash {
    left: 361px;
    bottom: 145px;
  }

  .intro__tag-div,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .intro__tag-slash-1 {
    top: 90px;
    left: 423px;
    display: inline-block;
    font-size: 46px;
    transform: rotate(15deg);
    -moz-transform: rotate(15deg); 
    -ms-transform: rotate(15deg); 
    -webkit-transform: rotate(15deg); 
    -o-transform: rotate(15deg);
    animation-name: move-6;
  }

  .services__icon {
    margin-top: 86px;
  }

  .services__icon-3,
  .services__icon-4 {
    margin-top: 75px;
  }

  .services__article {
    width: 260px;
  }

  .services__title {
    width: 270px;
    font-size: 20px;
  }

  .swiper-button-next, 
  .swiper-button-prev {
    display: none;
  } 

  .swiper-container {
   /* width: 100%;*/
    padding: 0 0 14% 0;
  }

  .work-1 {
    min-width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }

  .work-2 {
    min-width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
  }

  .projects__title {
    width: auto;
    margin-top: 17px;
  }

  .projects .main-button {
    margin-top: 80px;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
   margin: 0 15px;
  }

  .banner__offer {
    width: 93%;
    margin: 0 auto;
  }

  .banner__note {
    width: 84.73%;
  }

  .banner__tag-hash {
    display: none;
  }

  .banner__tag-braces {
    display: none;
  }

  .banner__tag-braces-1 {
    top: 25px;
    left: 155px;
    transform: rotate(20deg);
    -moz-transform: rotate(20deg); 
    -ms-transform: rotate(20deg); 
    -webkit-transform: rotate(20deg); 
    -o-transform: rotate(20deg);
    font-size: 32px;
  }

  .banner__tag-div {
    right: 440px;
    bottom: 30px;
    font-size: 25px;
  }

  .banner__tag-slash {
    top: auto;
    right: 80px;
    bottom: 36px;
    font-size: 41px;
  }

  .footer__main {
    margin-top: 105px;
  }

  .footer__menu {
    margin-right: 0;
  }

  .footer__contacts {
    margin-right: 0;    
  }

  .footer__button-social {
    margin-right: 0;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {

  .intro {
    min-height: 650px;
  }

  .intro__tag-slash,
  .intro__tag-slash-1 {
    display: none;
  }

  .intro__tag-hash {
    font-size: 5vw;
  }

  .intro__tag-div-up {
    font-size: 3vw;
  }

  .intro__tag-braces {
    font-size: 4vw;
  }

  .intro__business-card {
    background-position: 340px 5px;
  }

  .intro__title  {
    font-size: 40px;
  }

  .intro__subtitle {
    font-size: 20px;
  }
  
  .intro__img {
    width: 350px;
    height: 522px;
    margin-right: 0;
  }

  h2 {
    padding-top: 10%;
  }
  
  .projects__work {
    width: 350px;
    height: 280px;
  }

  .projects .fixed-container {
    width: 724px;
  }
  
  .work-1 {
    object-position: -98px;
  }

  .services__title,
  .projects__title {
    font-size: 20px;
  }
  
  .banner {
    min-height: 300px;
  }

  .banner__text {
    font-size: 31px;
  }

  .banner__note {
    font-size: 16px;
  }
}

@media (min-width: 1024px) and (max-width: 1438px) { 

  .services__title {
    font-size: 20px;
  }

  .projects__work {
    width: 458px; 
    height: 361px;
    object-fit: cover;
    -o-object-fit: cover;
  }

  .projects .fixed-container {
    width: 940px;
  }

  .swiper-pagination-bullet {
    width: 19px;
    height: 19px;
  }
}

@media (min-width: 1316px) and (max-width: 1639px) {

  .intro__img {
   margin-right: 17%;
  }  

  .intro__business-card {
    background-position: 100% 95px;
  }

  .services__flex-container {
    flex-wrap: nowrap;
    width: auto;
    min-height: auto;
  }

  .banner__offer {
    width: 75%;
  }

  .banner__text {
     width: 100%;
  }
}

@media (min-width: 1439px) {

  .swiper-pagination {
    display: none;
  }

  .projects .fixed-container {
     width: 1170px;
  }

  .projects__work {
    width: 370px;
    height: 290px;
  }

  .swiper-btn {
    position: relative;
    width: 1230px;
    height: 290px;
    margin: 0 auto;
  }

  .swiper-button-prev {
    left: 0;
  }

  .swiper-button-next {
    transform: scale(-1, 1);
    right: 0;
  }

  .swiper-button-prev,
  .swiper-button-next {
    position:absolute;
    display: inline-block;
    width: 60px;
    height: 60px;
    top: 47%;
    border-radius: 30px;
    border: none;
    background-color: #fff;
    background-image: url('../img/arrow.svg');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 10px rgba(0,0,0,0.08);
    /*outline: none;*/ 
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .swiper-button-prev:hover {
    box-shadow: inset 0 0 10px #dc143c;
    -webkit-transform: scale(.9, .9);
    transform: scale(.9, .9);
  }

  .swiper-button-next:hover {
    box-shadow: inset 0 0 10px #dc143c;
    -webkit-transform: scale(-.9, .9);
    transform: scale(-.9, .9);
  }

  .swiper-button-prev::after,
  .swiper-button-next::after  {
    content: "";
    position: absolute;
    z-index: -1;
    top: 47%;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px #dc143c;
    opacity: 0;
    -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  }

  .swiper-button-prev:hover::after,
  .swiper-button-next:hover::after {
    opacity: 1;
  }
  
  .swiper-button-next::after {
    transform: scale(-1, 1);
  }
}

@media (min-width: 1439px) and (max-width: 1919px) {
  
  .swiper-container {
    padding-bottom: 0;
  }

  .projects__link {
    font-size: 20px;
  }

  .projects .center-button {
    margin-top: 10%;
  }
}

/* MOBILE */

@media (min-width: 320px) and (max-width: 767px) {

  .intro .flex-container {
    align-items: center;
  }

  .intro {
    min-height: 469px;
  }

  .fixed-container {
    width: 87.81%;
  }

  .intro__transparent-button, 
  .banner__tag,
  .intro__tag-div,
  .intro__tag-slash-1,
  .swiper-button-prev,
  .swiper-button-next {
    display: none;
  }

  .intro__burger-menu {
    display: inline-block;
    margin-right: 0;
    width: 25px;
    height: 19px;
    background-size: cover;
  }

  .intro__tel {
    padding-right: 35px;
    font-size: 18px;
    font-weight: 700;
    color: #1f1f24;
    text-decoration: none;
  }

  .intro__tel-button {
    margin-top: 0;
  }

  .intro__top-panel {
    padding-top: 24px;
  }

  .intro__phone {
    display: inline-block;
  }

  .fas {
    font-size: 10px;
  }

  .intro__phone {
    width: 24px;
    height: 24px;
    border: 1px solid #fa0790;
    border-radius: 14px;
    background: transparent;
  }

  .intro__phone:hover {
    box-shadow: inset 0 0 5px #dc143c;
   /* outline: none;*/
  }

  .close {
    width: 19px;
    height: 19px;
  }

  .popup-form {
    width: 290px;
  }

  input::placeholder {
  font-size: 20px;
  }

  legend,
  .popup-list {
    width: 90%;
  }

  input {
    width: 98%;
    font-size: 20px;
  }

  .popup-container .main-button,
  .modal-box .main-button {
    width: 260px;
    height: 44px;
  }

  .tag-form {
    bottom: 93px;
    font-size: 18px;
  }

  .tag-hash {
    top: 53px;
    left: 15px;
  }

  .intro__img {
    width: 224px;
    height: 332px;
    margin-left: 18.75%;
    margin-right: 0;
    filter: none;
  }

  .flex-container {
    flex-wrap: wrap-reverse;
  }

  .intro__business-card {
    width: 100%;
    height: 332px;
    margin-top: 26%;
    margin-bottom: 17px;
    background-size: 470px 390px;
    background-position: 39% -55%;
    overflow: visible;
  }

  .intro__personal-data {
    text-align: center;
  }

  .intro__tag-hash {
    top: 21.57%;
    left: 11.56%;
    font-size: 29px;
  }

  .intro__tag-div-up {
    top: 3.38%;
    left: auto;
    right: 12.5%;
    font-size: 15px;
    transform: rotate(20deg);
    -moz-transform: rotate(20deg);
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    -o-transform: rotate(20deg);
  }

  .intro__tag-braces {
    top: -10.57%;
    left: 15.31%;
    font-size: 25px;
  }

  .intro__tag-slash {
    top: -16.87%;
    left: auto;
    right: 38.44%;
    bottom: auto;
    font-size: 19px;
    transform: rotate(-25deg);
    -moz-transform: rotate(-25deg);
    -ms-transform: rotate(-25deg);
    -webkit-transform: rotate(-25deg);
    -o-transform: rotate(-25deg);
  }

  .intro__title  {
    margin-top: 13px;
    margin-bottom: 13px;
    font-size: 30px;
  }

  .intro__subtitle {
    display: inline-block;
    width: 211px;
    font-size: 16px;
  }

  .main-button {
    width: 280px;
    height: 55px;
    font-size: 16px;
  }

  .intro__main-btn {
    margin-top: 30px;
  }

  .services__flex-container {
    justify-content: center;
  }

  .services__article {
    width: 282px;
  }

  .services__icon {
    margin-top: 12%;
    margin-bottom: 18px;
    width: 61px;
    height: 61px;
    background-size: contain;
  }

  h2 {
    font-size: 30px;
  }

  .services__header {
    margin-top: 43%;
  }

  .services__icon-3 {
    margin-top: 17%;
  }

  .services__icon-4 {
    margin-top: 15%;
  }

  .services__center-button {
    margin: 48px auto 50px;
  }

  .swiper-pagination {
    display: block;
  }

  .swiper-container {
    padding-bottom: 53px;
  }

  .projects {
    margin-top: 50px;
  }

  .projects__header {
    margin: 0 52px 12%;
    padding-top: 44px;
    line-height: 35px;
  }

  .projects__title {
    margin-top: 0;
  }

  .projects__work {
    width: 283px;
    height: 252px;
  }

  .work-2 {
   /* min-width: 100%;*/
    object-fit: cover;
    -o-object-fit: cover;
  }

  .services__title {
    margin-bottom: auto;
    font-size: 16px;
    line-height: 24px;
  }

  .projects__link {
    margin-top: 0;
    margin-bottom: 15%;
    font-size: 18px;
    line-height: 52px;
    font-weight: 500;
  }

  .projects .center-button {
    margin: 35px auto 0;
  }

  .projects {
    padding-bottom: 50px;
  }

  .banner {
    min-height: 440px;
    margin-bottom: 40px;
  }

  .banner__offer {
    width: 100%;
  }

  .banner__text {
    width: 87.5%;
    margin-bottom: 33px;
    font-size: 28px;
    line-height: 40px;
  }

  .banner__note {
    width: 83.125%;
    font-size: 15px;
    line-height: 30px;
  }

  .banner__offer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*height: 436px;*/
    height: 22.72%;
  }

  .banner__marker {
    padding-left: 10px;
  }

  .footer__flex-container {
    flex-direction: column;
  }

  .footer__link {
    font-size: 15px;
  }
  
  .footer__fas {
    font-size: 13px;
  }

  .footer__contact-link {
    font-size: 20px;
  }

  .footer__contact-item {
    margin-bottom: 26px;
  }

  .footer__contacts {
    margin-top: 25px;
  }

  .footer__main {
    margin-top: 0;
    margin-bottom: 40px;
  }
  
  .footer__network-link {
    margin-right: 27px;
  }

  .footer__button-social .transparent-button {
    margin-bottom: 50px;
    padding: 19px 75px;
    border: none;
    color: #fff;
    background: #ff4e2e;
  }

  footer .transparent-button:hover {
    font-weight: normal;
    background: #f82904;
  }
  
  .footer__copyright {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 12px;
  }
}

@media (min-width: 320px) and (max-width: 651px) {

  .projects .fixed-container {
    width: 283px;
  }
}

@media (min-width: 652px) and (max-width: 767px) {

  .projects .fixed-container {
    width: 590px;
  }
}

@media (min-width: 461px) and (max-width: 767px) {

  /*.intro__list {
    width: 220px;
  }*/

  .intro__link {
    font-size: 20px;
  }

  .intro__img {
    width: 350px;
    height: 522px;
    margin-left: auto;
    margin-right: auto;
  }

  .intro__business-card {
    width: 100%;
    height: 522px;
    margin-top: 20%;
    margin-bottom: 17px;
    background-size: 870px 790px;
    background-position: 42% -20%;
  }

  .intro__personal-data {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .intro__title  {
    font-size: 54px;
  }

  .intro__subtitle {
    font-size: 25px;
    width: auto;
  }

  .intro__tag {
    font-size: 30px;
  }

  .intro__personal-data,
  .intro__personal-data .main-button {
    margin-right: auto;
    margin-left: auto;
  } 
}

@media (min-width: 462px) and (max-width: 557px) {

  .services__header {
    margin-top: 60%;
  }
}

@media (min-width: 500px) and (max-width: 767px) {

  .intro__burger-menu {
    width: 47px;
    height: 34px;
  }

  .close {
    width: 37px;
    height: 40px;
  }

  .intro__tel {
    font-size: 22px;
  }

  .intro__phone {
    width: 40px;
    height: 40px;
    border: 2px solid #fa0790;
    border-radius: 20.5px;
    background: transparent;
  }

  .fas {
    font-size: 20px;
  }

  h2 {
    font-size: 40px;
  }

  h3 {
    font-size: 18px;
  }

  .banner {
    min-height: 310px; 
  }
}

particle {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  background-repeat: no-repeat;
  background-size: contain;
}